{
    "semi": true,

    "singleQuote": true,
    "jsxSingleQuote": false,
    "arrowParens": "always",

    "bracketSpacing": true,
    "trailingComma": "all",

    "printWidth": 120,
    "tabWidth": 4,

    "endOfLine": "lf",

    "useTabs": false,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}
